{% for post in paginator.posts %}
<!-- Post -->
<article class="post">
    {% include article-header.html %}
    {% if post.thumbnail %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="image featured"><img src="{{post.thumbnail}}" style="max-height: 300px" alt="" /></a>
    {% endif %}
    <p>{{ post.content | strip_html | truncatewords:15}}</p>
    <footer>
        <ul class="actions">
            <li><a href="{{ post.url | prepend: site.baseurl }}" class="button big">Continue Reading</a></li>
        </ul>
        <ul class="stats">
            <li><a href="#">{{ post.category }}</a></li>

            <!--

                        <li><a href="#" class="icon fa-heart">28</a></li>
                        <li><a href="#" class="icon fa-comment">128</a></li>
            -->
        </ul>
    </footer>
</article>
{% endfor %}