---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include head.html %}

<body>

    <div class="wrapper">
        {% include sidebar.html %}

        <div class="main-wrapper">

           {{content}}

        </div><!--//main-body-->

    </div>

{% include footer.html %}
 
{% include scripts.html %}
    {% if page.layout != 'post'%}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 기본 -->

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9779541833303007"
     data-ad-slot="5378799171"
     data-ad-format="auto"></ins>

<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    {% endif %}
</body>
</html> 

