---
layout: default
---
{% assign post = page %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    {% include article-header.html %}
    {% include post_thumb.html %}
    <section>
        {{content}}
    </section>
    <div class="row page_navigation">
        {% if page.previous.url %}

        <a class="prev pull-left" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
        <a class="next pull-right" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
        {% endif %}
    </div>
    <div class="row">
        <div class="12u 12u$(medium)">
        <h4>연관 포스트</h4>
        <ul >
            {% for sub in site.recommend[page.id] %}
            {% for p in site.posts %}
            {% if p.id == sub %}
            <li>
                <a href="{{p.url}}">{{p.title}}</a></li>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </ul>
        </div>

    </div>
    <div class="row">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 기본 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9779541833303007"
             data-ad-slot="5378799171"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    {% include disqus.html %}
</article>
